# Byte-compiled files
__pychache__/
*.py[cod]
*$py.class

# PyCharm
.idea/

#VSCode
.vscode/

# Config
config.yml
config.yml/

# Logs
log.*

# Virtual Environment
/venv

#MacOS
.DS_Store
.DS_Store/