# PyCharm
.idea/

#VSCode
.vscode/

# pycache
bot/__pycache__/
bot/cogs/__pychache__/
__pychache__/

# Config
config.yml
config.yml/

# Logs
/logs/

# Virtual Environment
/venv

#MacOS
.DS_Store
.DS_Store/